@model List<P3CoreSilvano.Models.Reuniao>

<h1>Lista de Reunioes</h1>

@using (Html.BeginForm())
{
    <div>
        <div>
            Cliente:

            <div class="float-end">
                Funcionario
            </div>
        </div>
        <div>
            @Html.DropDownList("idCli", (SelectList)ViewBag.CLIENTES, "Geral", new {@onchange="submit();"})

            <div class="float-end">
                @Html.DropDownList("idFunc", (SelectList)ViewBag.FUNC, "Geral", new {@onchange="submit();"})
            </div>
        </div>
    </div>


    <br />
    <a>Numero de reuniões ocorridas: @ViewBag.COUNT</a>
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Duração</th>
                <th>Resumo</th>
                <th>Cliente</th>
                <th>Funcionário</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Data</td>
                    <td>@item.Duracao</td>
                    <td>@item.Resumo</td>
                    <td>@item.Cliente.NomeCliente</td>
                    <td>@item.Funcionario.NomeFunc</td>
                </tr>
            }
        </tbody>
    </table>
}
