@model EquiMembros2023.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRegisto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRegisto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BdUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BdUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodPostal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApenasDigitos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApenasDigitos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApenasMaiusculas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApenasMaiusculas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BRGeQqCarater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BRGeQqCarater)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoProdutoB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoProdutoB)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
